body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(248,241,230)
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 100px auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
    font-size: 15px;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  a:not([href]) {
    color: #fff;
  }
  .btn-primary {
    background-color: #da6f17ba;
    border-color: #ff8b2cba;
  }
  .btn-primary:hover {
    background-color: #ec7209;
    border-color: #ec7209;
  }