body {
  background-color: rgb(248,241,230)	;
}
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: #ffbf00ab;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .icon {
    padding: 0.25em 0;
  }
  .site-header a {
    color: rgb(217, 132, 85);
    transition: ease-in-out color .15s;
    margin: 0.25em 0;
    font-weight: bold;
  }
  .site-header a:hover {
    color: rgb(241, 235, 221);
    text-decoration: none;
    font-weight: bold;
  }

  #name {
    color: #c35938;
  }

  #gameCanvas {
    display: block;
    width:100%;
    height:100%;
  }


  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }