body {
  background-color: rgb(248,241,230)	;
}
  /*
   * Custom translucent site header
   */

  .site-header {
    background-color: #ffbf00ab;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .icon {
    padding: 0.25em 0;
  }
  .site-header a {
    color: rgb(217, 132, 85);
    transition: ease-in-out color .15s;
    margin: 0.25em 0;
    font-weight: bold;
  }
  .site-header a:hover {
    color: rgb(241, 235, 221);
    text-decoration: none;
    font-weight: bold;
  }

  #name {
    color: #c35938;
  }

  #gameCanvas {
    display: block;
    width:100%;
    height:100%;
  }


  /*
   * Extra utilities
   */

  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }

  .overflow-hidden { overflow: hidden; }

  /*
  * Scrolling Image
  */

  .scrollImage {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
  }

  .instruction {
    overflow: auto;
    width: 100%;
    height: 30%;
  }

  .filpcardSection {
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    overflow: auto;
    height: 60%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .flipCardContainer {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }

  .flipCard {
    background-color: transparent;
    width:300px;
    height: 300px;
    perspective: 1000px;
    border: 1px solid #f1f1f1;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
  }

  .flipcardPosition {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flipCard:hover .flipcardPosition {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .frontFlipCard, .backFlipCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .backFlipCard {
    padding-left: 5%;
    text-align: left;
    color: rgb(23, 22, 22);
    transform: rotateY(180deg);
  }

  /* Check Box */
  .checkBoxContainer {
    overflow: auto;
  }

  .foodCategory {
    display: inline-block;
    height: auto;
    width: 30%;
    background-color: #58b2dce3;
    margin-left: 2.5%;
  }

  .checkBoxTitle {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
  }

  .checkBoxImage {
    margin-left: 20%;
    width: 50%;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .checkBoxButton {
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .checkBoxInformation {
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
  }

  .site-mainshow{
    background-image: url(/Images/M5/M5.gif);
    background-repeat: no-repeat;
    background-size:100%;
    background-position:0% 88%;
  }
  
